server:
  port: 8080
spring:
  application:
    name: ingest-service
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer




# TODO: Replace with docker-compose host/port when running locally
app:
  kafka:
    topic: events

logging:
  level:
    root: INFO
